<ng-template #loading>
  <p><img src="assets/img/ajax-loader.gif">
  Chargement en cours...</p>  
</ng-template>

<table *ngIf="books$ | async as books , else loading">
  <thead>
    <tr >
        <th></th>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Prix</th>
        <th></th>
    </tr>   
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td class="catalot-image"><a><img [src]="book.image"></a></td>
      <td class="catalog-title">{{book.title | uppercase}}</td>
      <td class="catalog-author">{{book.author | uppercase}}</td>
      <td class="catalog-price-right">{{book.price | currency: 'EUR'}}</td>
      
      <td class="catalog-button">
          <app-buy-button [book]="book" ></app-buy-button>
      </td>
    </tr>
  </tbody>
</table>
